<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--本機LocalDB 連線字串-->
    <!--<add name="PORTALDB" connectionString="metadata=res://*/Entities.EIPPT.csdl|res://*/Entities.EIPPT.ssdl|res://*/Entities.EIPPT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TESTPORTAL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRISDB" connectionString="metadata=res://*/Entities.EIPSTM.csdl|res://*/Entities.EIPSTM.ssdl|res://*/Entities.EIPSTM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TESTHRIS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <!--websrv 連線字串 start-->
    <!--測試區-->
    <!--portal-->
    <add name="PORTALDB" connectionString="metadata=res://*/Entities.EIPPT.csdl|res://*/Entities.EIPPT.ssdl|res://*/Entities.EIPPT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=websrv;initial catalog=RinnaiPortal;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--志元-->
    <add name="HRISDB" connectionString="metadata=res://*/Entities.EIPSTM.csdl|res://*/Entities.EIPSTM.ssdl|res://*/Entities.EIPSTM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iteip;initial catalog=UAT;user id=sa;password=z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--正式區-->
    <!--portal-->
    <!--<add name="PORTALDB" connectionString="metadata=res://*/Entities.EIPPT.csdl|res://*/Entities.EIPPT.ssdl|res://*/Entities.EIPPT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=websrv;initial catalog=RinnaiPortal_Formal;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--志元-->
    <!--<add name="HRISDB" connectionString="metadata=res://*/Entities.EIPSTM.csdl|res://*/Entities.EIPSTM.ssdl|res://*/Entities.EIPSTM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iteip;initial catalog=HRIS;user id=sa;password=z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--websrv 連線字串 end-->  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>