<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--本機LocalDB 連線字串-->
    <!--<add name="PORTALDB" connectionString="metadata=res://*/Entities.EIPPT.csdl|res://*/Entities.EIPPT.ssdl|res://*/Entities.EIPPT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TESTPORTAL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRISDB" connectionString="metadata=res://*/Entities.EIPSTM.csdl|res://*/Entities.EIPSTM.ssdl|res://*/Entities.EIPSTM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TESTHRIS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <!--websrv 連線字串 start-->
    <!--測試區-->
    <!--portal-->
    <add name="PORTALDB" connectionString="metadata=res://*/Entities.EIPPT.csdl|res://*/Entities.EIPPT.ssdl|res://*/Entities.EIPPT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=websrv;initial catalog=RinnaiPortal;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--志元-->
    <!--<add name="HRISDB" connectionString="metadata=res://*/Entities.EIPSTM.csdl|res://*/Entities.EIPSTM.ssdl|res://*/Entities.EIPSTM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iteip;initial catalog=UAT;user id=sa;password=z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--正式區-->
    <!--portal-->
    <!--<add name="PORTALDB" connectionString="metadata=res://*/Entities.EIPPT.csdl|res://*/Entities.EIPPT.ssdl|res://*/Entities.EIPPT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=websrv;initial catalog=RinnaiPortal_Formal;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--志元-->
    <add name="HRISDB" connectionString="metadata=res://*/Entities.EIPSTM.csdl|res://*/Entities.EIPSTM.ssdl|res://*/Entities.EIPSTM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iteip;initial catalog=HRIS;user id=sa;password=z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--websrv 連線字串 end-->
    
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultPageSize" value="10" />
  </appSettings>
  <system.web>
    <customErrors mode="On">
      <error redirect="~/Error/NotFound" statusCode="404" />
    </customErrors>
    
    <!--使用FormsAuthenticationTicket驗證時，若action有掛Authorize屬性，AuthorizeCore驗證失敗時導入的頁面-->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Error" timeout="2880"></forms>
    </authentication>-->
    <!--讓系統執行時能夠知道要用我們所建立的 PortalRoleProvider-->
    <!--<roleManager defaultProvider="PortalRoleProvider" enabled="true" cacheRolesInCookie="true" maxCachedResults="256">
      <providers>
        <clear />
        <add name="PortalRoleProvider" type="Portal.Provider.PortalRoleProvider,Portal" />
      </providers>
    </roleManager>-->
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>