
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PermissionDenied</title>
</head>
<body>
    <div> 
        <h1>
            很抱歉，沒有權限進入!
        </h1>
    </div>
</body>
</html>
